/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

#results{
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
.main-container {
  margin: auto;
  margin-top: 0px;
}
.main-tagline {
  text-align: center;
  margin-bottom: 40px;
}

.overlay-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
}

.overlay-content {
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-size: 250%;
  background-color: white;
  padding: 50px 50px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.img {
  border: 1px solid #666;
}
